$textFieldColor:#756046fd;
$backGroundColor:#FFF5E1;
$boxShadowColor:#d0b490fd;
$accentColor:#b88d59fd;
$darkerTextFieldColor:#443828;
$darkerBackGroundColor:#ded5c3;
$darkerBoxShdaowColor:#a48e71fd;
$appBackGroundColor:#f5f5f5;

