@import '../../../../color-variables.scss';
.formStyle {
  width: 25rem;
  height:fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  h1{
    text-align: center;
    color:$textFieldColor;
  }
  box-shadow:inset 0 0 1rem 0.2rem $boxShadowColor;
  background-color: $backGroundColor;
  padding:3rem 3rem 3rem 3rem;
}

