@import '../../../../color-variables.scss';
.inputFormWrapper {
  min-width: 9.5rem;
  max-width: 31rem;
  width: 100%;

  .inputWrapper {
    width: 100%;
    height: 5rem;


    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: $textFieldColor
    }

    --mdc-filled-text-field-focus-active-indicator-color: #b88d59fd !important;

    .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
    .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
      color: var(--mdc-filled-text-field-error-label-text-color);


    }

    .mdc-text-field--filled:not(.mdc-text-field--enabled) {
      background-color: #FFF5E1 !important;

      input {
        color: #756046;
      }
    }
  }
}